
* {
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  max-width: 50rem;
}
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.page-header {
  background-color: #0b3b54;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo__link {
  text-decoration: none;
  color: #c9a920;
  font-size: 1.5rem;
  font-weight: 700;
}
.page-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px
}
.page-nav__list-item {
  list-style: none;
  margin-left: 0.75rem;
  margin-right: 0.375rem;
  letter-spacing: -1pt;
  margin-top: 0.25rem;
}
.page-nav__list-link {
  text-decoration: none;
  color: #c9a920;
  font-size: 1.25rem;
}
.article {
  background-color: #f5f5f5;
  padding-top: 0.75rem;
  padding-bottom: 3.5rem;
}
.title {
  font-size: 1.125rem;
  margin-bottom: 1.625rem;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -6px;
  margin-right: -6px;
}
.content__img-block {
  margin-right: 6px;
  margin-left: 6px;
}
.content__text-form-block {
  margin-right: 6px;
  margin-left: 6px;
  text-align: justify;
}
.form {
  max-width: 12.75rem;
  float: right;
  margin-left: 0.5rem;
  margin-bottom: 1.25rem;
}
.form__fieldset {
  padding-top: 0.625rem;
  padding-bottom: 1.5rem;
  border: 1px solid black;
}
.form__title {
  font-weight: normal;
}
.form__submit {
  font-size: 0.75rem;
  letter-spacing: 0.5pt;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.form__email-input {
  max-width: 170px;
  min-height: 1.25rem;
  margin-bottom: 0.75rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
  font-size: 0.8125rem;
}

@media (max-width: 740px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .content__img-block {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .page-nav__list {
    display: block;
  }
  .page-header__container {
    justify-content: space-between;
  }
  .content__img {
    max-width: 100%;
  }
}
